<div class="sidebar" [class.collapsed]="collapsed">
  <div class="sidebar-header">
    <div class="logo">
      <span class="logo-in">IN</span>
      <span class="logo-q">Q</span>
      <span class="logo-tel">TEL</span>
      <span *ngIf="!collapsed" class="logo-sas">S.A.S</span>
    </div>
  </div>

  <div class="sidebar-menu">
    <ul>
      <li
        *ngFor="let item of menuItems; let i = index"
        [class.active]="item.active"
        (click)="setActive(i)"
      >
        <a [routerLink]="item.route">
          <i [class]="item.icon"></i>
          <span *ngIf="!collapsed">{{ item.title }}</span>
        </a>
      </li>
    </ul>
  </div>

  <div class="sidebar-footer" *ngIf="!collapsed">
    <div class="user-info">
      <div class="user-avatar">
        <i class="fas fa-user-circle"></i>
      </div>
      <div class="user-details">
        <h5>Administrador</h5>
        <p>INQTEL S.A.S</p>
      </div>
    </div>
  </div>
</div>
